[submodule "baseball"]
	path = baseball
	url = https://github.com/ccconac/javascript-baseball-6
	branch = ccconac
[submodule "racingcar"]
	path = racingcar
	url = https://github.com/ccconac/javascript-racingcar-6
	branch = ccconac
[submodule "lotto"]
	path = lotto
	url = https://github.com/ccconac/javascript-lotto-6
	branch = ccconac
